{% set pageMeta = pageMeta|default(false) %}

<!doctype html>
<html {{ site.language_attributes }}>
<head>
    <meta charset="{{ site.charset }}" />
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>
        {% if wp_title %}
            {{ wp_title }} - {{ site.name }}
        {% else %}
            {{ site.name }}
        {% endif %}
    </title>

    {% block meta %}
        {% include 'partials/meta/base.twig' with { meta: pageMeta } only %}
    {% endblock %}

    {% block styles %}{% endblock %}

    {% block scripts_head %}{% endblock %}

    {{function('wp_head')}}

</head>
<body class="body {{ bodyClass }}">


    {% block header %}{% endblock %}

    {% block content %}{% endblock %}

    {% block footer %}{% endblock %}

    {% block scripts_footer %}{% endblock %}

</body>
</html>