{% set meta = get_meta()|merge(meta|default({})) %}

<meta name="description"        content="{{ meta.description }}"/>
<meta property="og:type"        content="{{ meta.type }}" />
<meta property="og:url"         content="{{ meta.url }}" />
<meta property="og:title"       content="{{ meta.title }}" />
<meta property="og:description" content="{{ meta.description }}" />

<link rel="image_src" href="{{ meta.image }}">
<meta property="og:image"        content="{{ meta.image }}" />
<meta property="og:image:width"  content="{{ meta.imageWidth }}" />
<meta property="og:image:height" content="{{ meta.imageHeight }}" />

{#<meta property="twitter:title"       content="{{ meta.title }}" />#}
{#<meta property="twitter:description" content="{{ meta.description }}" />#}
{#<meta property="twitter:site"        content="{{ meta.url }}" />#}
{#<meta property="twitter:url"         content="{{ meta.url }}" />#}

{#<meta property="twitter:card"        content="summary_large_image" />#}
{#<meta property="twitter:image:src"   content="{{ meta.image }}" />#}

